body,
h1,
p,
button,
textarea {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    width: 100%;
}

.message-box {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd),
              linear-gradient(-45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}


.messages {
    max-width: calc(100% - 40px); /* Ajuste para considerar a largura do padding */
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.text {
    position: relative;
    max-width: 70%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #e2f7cb;
}

.text strong {
    color: #333;
}

.muted {
    font-size: 10px;
    color: darkgray;
}

.status {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.chat-form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.chat-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.join-btn {
    background-color: #4caf50;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

.create-btn {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

.join-btn:hover,
.create-btn:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

.text {
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    align-items: center;
}

textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 10px;
}

#send-btn:hover {
    background-color: #45a049;
}

.text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.text strong {
    color: #333;
}

.muted {
    font-size: 12px;
    color: #999;
}
