{% extends 'base.html' %}

{% block content %}

  <div class="chat-form-container">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <form method="post" class="chat-form">
      <h3>Entrar na Sala</h3>
      <div class="form-group">
        <label for="name">Digite seu nome:</label>
        <input
          type="text"
          id="name"
          placeholder="Escolha seu nickname"
          name="name"
          value="{{ name }}"
          required
        />
      </div>
      <button type="submit" name="create" class="create-btn">Crie a sala</button>

      <div class="form-group">
        <h3>Ou então</h3>
        <label for="code">Código da sala:</label>
        <input
          type="text"
          id="code"
          placeholder="Já tem um código? Digite aqui"
          name="code"
          value="{{ code }}"
          required
        />
      </div>
      <button type="submit" name="join" class="join-btn">Entre na sala</button>



      {% if error %}
        <div class="error-message">
          {{ error }}
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}
