{% extends 'base.html' %}

{% block content %}
  <div class="message-box">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h2>Sala do Chat: {{ code }}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
      <textarea
        rows="3"
        placeholder="Digite sua mensagem..."
        name="message"
        id="message"
      ></textarea>
      <button type="button" name="send" id="send-btn" onclick="sendMessage()">
        Enviar
      </button>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages");

    const createMessage = (name, msg, isUser) => {
      // Verificar se a mensagem é do próprio usuário para evitar duplicação
      const isSelf = isUser && name === "Você";
      if (!isSelf) {
        const content = `
          <div class="text ${isUser ? 'user' : ''}">
              <span>
                  <strong>${name}</strong>: ${msg}
              </span>
              <span class="muted">
                  ${new Date().toLocaleString()}
              </span>
          </div>
        `;
        messages.innerHTML += content;
      }
    };

    socketio.on("message", (data) => {
      createMessage(data.name, data.message);
    });

    const sendMessage = () => {
      const message = document.getElementById("message");
      if (message.value === "") return;
      socketio.emit("message", { data: message.value });
      createMessage("Você", message.value, true);
      message.value = "";
    };
  </script>
  {% for msg in socket_messages %}
    <script type="text/javascript">
      createMessage("{{ msg.name }}", "{{ msg.message }}");
    </script>
  {% endfor %}
{% endblock %}
